body{
	background-color:#eaeffa;

	}
#ic1
{
		position:relative;
		top:20px;
		left:50px;
		
}
#ic2
{
		/*position:relative;
		top:30px;
		left:50px;*/
		margin-top: 10px;
	    margin-left:50px;
		
}
#ic3{
	 
	 position:absolute;
	 top:15px;
	 right: 350px;
	 font-size:20px;
	 color:#eaeffa;
}
#ic4{
	 position:absolute;
	 top:15px;
	 right: 300px;
	 font-size:20px;
	 color:#eaeffa;
}
#ic5{
	 position:absolute;
	 top:10px;
	 right: 180px;
	 font-size:25px;
	 color:black;
}
#ic6{
	 position:absolute;
	 top:5px;
	 right: 130px;
	
	
}
th{
	width:180px;
}
#im{
	margin-top: 20px;
	margin-left:50px;
}
.sidenav {
	margin-top:0px;
	margin-left:0px;
  height: 700px;
  width: 50%;
  position: static;
  z-index: 1;
  top: 0;
  left:0px;
  background-color: #003366;
  overflow-x: hidden;
  padding-top: 50px;
}	
#s{
	height:40px;
}

@media screen and (max-width: 800px) {
.sidenav {
	margin-top:0px;
	margin-left:0px;
  height: 100%;
  width: 100%;
  position: static;
  z-index: 1;
  top: 0;
  left:0px;
  background-color: #003366;
  overflow-x: hidden;
  padding: 5px;
}
#s{
	height:40%;
}
}
@media screen and (max-width: 1000px) {
.sidenav {
	margin-top:0px;
	margin-left:0px;
  height: 100%;
  width: 100%;
  position: static;
  z-index: 1;
  top: 0;
  left:0px;
  background-color: #003366;
  overflow-x: hidden;
  padding: 5px;
}
#s{
	height:50%;
}
}