#pic{
	outline:none;
	border: white;
	width: 150px;
	height:120px;
	position: relative;
	float:left;
	top: 10px;
	left:270px;
}
h3{
	padding-top:150px;
	padding-left:285px;
}

form
{
	position: relative;
	float:left;
	top: 20px;
	left:300px;
	width:400px;
	height: 350px;
	
}	
#lo{
	position:absolute;
	top: 140px;
	right: 40px;
	
}
.fa_custom {
color: green;
}

#lo1{
	position:absolute;
	top: 50px;
	right: 40px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.custom-checkbox .custom-control-label::before {
  border-radius: 999px;
}
button {
  background-color: #0080FF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius:30px;
}

button:hover {
  opacity: 0.8;
}


.container {
  padding: 16px;
}
	
lable{
	display:inline-block;
}