#currancy{
 font-size: 100px;
 position: relative;
 top: 90px;
 left: 120px;
}
 #fo{
	 color:green;
	  position: absolute;
     top: 200px;
    left: 30px;
	}
	p{
		color: red;
	}
	#l
	{
		color:green;
	}