#f{
 font-family: "Times New Roman", Times, serif;
 font-weight: bold;
 margin-left:50px;
 color:white;
 font-size:35px;
}
#sf{
	font-size:10px;
	color:white;
	position:absolute;
	top:35px;
	left:75px;
}
#t{
	color:white;
	font-weight:bold;
	position:absolute;
	top:15px;
}
#b{
	float: right;
	margin-top:10px;
	margin-right:100px;
}
#bell{
	color:white;
	position:absolute;
	top:20px;
	right:80px;
	font-size:20px;
}
#p{
	position:absolute;
	top:10px;
	right:30px;
}
#table-borderless {
  th,
  td,
  thead th,
  tbody + tbody {
    border: 0;
  }
