input[type=text] {
  width: 500px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  background-color: white;
  background-position: 5px 5px; 
  background-repeat: no-repeat;
  padding: 12px 10px 12px 40px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  outline:none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

li {
  display: block;
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.tooltip {
  position: relative;
  top: 10px;
  left: 10px;
  
  }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px ;
  position: absolute;
  z-index: 1;
  top: 200px;
  right: 370px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.feeling-lucky {
	position: absolute;
	margin: 20em 32.5em;
	width: 400px;

}
#search_button {
  position: absolute;
  top: 380px;
  left: 550px;
  border: 1px solid #dcdcdc;
  border-color: rgba(0, 0, 0, 0.1);
  color: #444!important;
  font-size: 11px;
  font-weight: bold;
  padding: 8px;
  background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  border-radius: 2px;
}
#lucky_button {
  position: absolute;
  top: 380px;
  left: 680px;
  border: 1px solid #dcdcdc;
  border-color: rgba(0, 0, 0, 0.1);
  color: #444!important;
  font-size: 11px;
  font-weight: bold;
  padding: 8px;
  background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  border-radius: 2px;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  margin: : 20em;
}
a:link{
	text-decoration: none;
}

a.footer-link {
  margin-left: 10px;
  color: #000;
}
a.footer-link:hover{
	text-decoration: underline;
	transition-duration:2s;
	}

.move-left {
  float: left;
}

.move-right {
  float: right;
}
#sign {
border: 2px solid blue;
background-color: blue;
height: 20px;
width: 65px;
float: right;
margin-right: 40px;
margin-top: 15px;
border-radius: 3px;
font-size: 13px;
font-family: arial;
text-align: center;
color: white;
font-weight: 600;
padding-top: 7px;

}
#icon1{
			font-size:20px;
			position: absolute;
			top: 13px;
			left:440px;
}
#icon2{
			font-size:20px;
			position: absolute;
			top: 13px;
			right:450px;
}